<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="org.knime.ext.tableau">
        <libFolder name="TableauExtract" path="tableausdk-linux64-9300.0.0.0/lib64/tableausdk/" />
    </extension>
    <extension point="org.knime.ext.tableau">
        <libFolder name="TableauServer" path="tableausdk-linux64-9300.0.0.0/lib64/tableausdk/" />
    </extension>
    <extension point="org.knime.ext.tableau">
        <libFolder name="TableauCommon" path="tableausdk-linux64-9300.0.0.0/lib64/tableausdk/" />
    </extension>
</plugin>
