<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="installdir" name="Tableau SDK Installation Directory" schema="schema/installdir.exsd"/>

   <extension point="org.knime.workbench.repository.categories">
      <category description="KNIME Tableau Integration" icon="icons/tableau_category.png" level-id="tableau" name="Tableau" path="/labs">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.ext.tableau.preferences.TableauPreferencePage"
            id="org.knime.ext.tableau.TableauPreferences"
            name="Tableau">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.knime.ext.tableau.preferences.TableauPreferenceIntializer">
      </initializer>
   </extension>
 
</plugin>
