<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.2"?><plugin>
                            <extension-point id="org.knime.ext.tableau" name="tableauLibFolder" schema="schema/org.knime.ext.tableau.exsd"/>

   <extension point="org.knime.workbench.repository.nodes">
      <node
            category-path="/preview"
            deprecated="false"
            factory-class="org.knime.ext.tableau.tdewrite.TableauDENodeFactory"
            id="org.knime.ext.tableau.tdewrite.TableauDENodeFactory">
      </node>
      <node
            after="org.knime.ext.tableau.tdewrite.TableauDENodeFactory"
            category-path="/preview"
            deprecated="false"
            factory-class="org.knime.ext.tableau.sendtotableau.SendToTableauNodeFactory"
            id="org.knime.ext.tableau.sendtotableau.SendToTableauNodeFactory">
      </node>
      
      <!--TODO move to the proper plugin and proper category.-->
   </extension>
   <extension point="org.knime.workbench.repository.categories">
      <category description="KNIME Preview nodes -- part of future KNIME releases" icon="icons/preview.png" level-id="preview" name="Preview" path="/">
      </category>
   </extension>
 
</plugin>
