<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.2"?><plugin>
                            <extension-point id="org.knime.ext.tableau" name="tableauLibFolder" schema="schema/org.knime.ext.tableau.exsd"/>

   <extension point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/tableau"
            deprecated="false"
            factory-class="org.knime.ext.tableau.tdewrite.TableauDENodeFactory"
            id="org.knime.ext.tableau.tdewrite.TableauDENodeFactory">
      </node>
      <node
            after="org.knime.ext.tableau.tdewrite.TableauDENodeFactory"
            category-path="/labs/tableau"
            deprecated="false"
            factory-class="org.knime.ext.tableau.sendtotableau.SendToTableauNodeFactory"
            id="org.knime.ext.tableau.sendtotableau.SendToTableauNodeFactory">
      </node>
   </extension>
      
   <extension point="org.knime.workbench.repository.categories">
      <category description="KNIME Tableau Integration" icon="icons/tableau_category.png" level-id="tableau" name="Tableau" path="/labs">
      </category>
   </extension>
 
</plugin>
