<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="org.knime.ext.tableau.hyper">
        <libFolder name="TableauHyperExtract" path="extractapi-macosx-x86_64-2018-2-2/Frameworks/TableauHyperExtract.framework" />
    </extension>
    <extension point="org.knime.ext.tableau.hyper">
        <libFolder name="TableauCommon" path="extractapi-macosx-x86_64-2018-2-2/Frameworks/TableauCommon.framework" />
    </extension>
</plugin>
